<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>c:\deploy\comando</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Defasult web site/Comando</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ComandoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=13.80.10.140,49195;Initial Catalog=Comando;User ID=sa;Password=Sensei2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="comando.ComandoEntities, Comando" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ComandoConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=13.80.10.140,49195;Initial Catalog=Comando;User ID=sa;Password=Sensei2016" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=13.80.10.140,49195;Initial Catalog=Comando;User ID=sa;Password=Sensei2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ComandoConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=13.80.10.140,49195;Initial Catalog=Comando;User Id=sa;Password=Sensei2016;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ComandoConnectionString-Web.config Connection String">
      <ParameterValue>data source=13.80.10.140,49195;initial catalog=Comando;user id=sa;password=Sensei2016;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ComandoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ComandoModel.csdl|res://*/ComandoModel.ssdl|res://*/ComandoModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=13.80.10.140,49195;Initial Catalog=Comando;User ID=sa;Password=Sensei2016"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>